mat-row:hover,
mat-row.selected{
  background-color: #f1f1f1;
}

mat-row{
  cursor: pointer;
}

.example-margin {
  margin: 0 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.pictimage {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

