<mat-card *ngIf="currentTodo">
    <mat-card-actions>
      <button mat-button *ngIf="!editable" (click)="editable=!editable">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-button *ngIf="editable" (click)="save(currentTodo)">
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button mat-button (click)="remove(currentTodo)">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
        <button mat-button *ngIf="editable" (click) = "cancel()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button mat-button routerLink="/todos">
          <mat-icon>list</mat-icon>
          Go to list
        </button>
        <button mat-button *ngIf="editable" (click) = "cancel()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button mat-button *ngIf="!editable" (click) = "firstOfTheList()">
          <mat-icon>skip_previous</mat-icon>
          Premier
        </button>
        <button mat-button *ngIf="!editable" (click) = "previousOfTheList()">
          <mat-icon>navigate_before</mat-icon>
          Précédent
        </button>
        <button mat-button *ngIf="!editable" (click) = "nextOfTheList()">
          <mat-icon>navigate_next</mat-icon>
          Suivant
        </button>
        <button mat-button *ngIf="!editable" (click) = "lastOfTheList()">
          <mat-icon>skip_next</mat-icon>
          Dernier
        </button>
    </mat-card-actions>
    <mat-card-title>
      Details of the todo
        <mat-card-subtitle>
          <h6>ID of the todo "{{currentTodo?.ID}}"</h6>
        </mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input  matInput placeholder="Description"
                type="text" [(ngModel)]="currentTodo.description"
                [disabled]="!editable">

      </mat-form-field>
      <mat-card>
        <mat-card-actions>
           <input type="file" id="fileInput" (change)="onFileSelected($event)">
            <button type="button" (click)="onUpload()">Upload</button>
        </mat-card-actions>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
<br>
      <mat-card>
        <mat-card-actions>
          <app-file-input *ngIf="editable" name="filepicture"
            [(ngModel)]="currentTodo.picture"
            (fileChange)="onPictureSelected($event, currentTodo)" ngDefaultControl>
          </app-file-input>
          <button mat-button *ngIf="editable" (click) = "deletePicture(currentTodo)">
            <mat-icon>delete</mat-icon>
            Supprimer
          </button>
        </mat-card-actions>
        <mat-card-content>
            <a [href]="currentTodo.picture?.uri" target="_blank">
                <img class="pictimage" [src]="currentTodo.picture?.uri" alt="Pas d'image associée">
                <!-- <mat-icon>remove_red_eye</mat-icon> -->
            </a>
          <!-- <img class="pictimage" [src]="currentTodo.picture?.uri" alt="Photo" (click)="previewImage(currentTodo)">
          <iframe [src]="currentTodo.picture?.uri" height="400" width="300" ></iframe> -->
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-actions>
          <app-file-input *ngIf="editable" name="filedoc"
              [(ngModel)]="currentTodo.doc"
              (fileChange)="onDocSelected($event, currentTodo)" ngDefaultControl>
          </app-file-input>
          <a [href]="currentTodo.doc?.uri" target="_blank">
              <mat-icon>remove_red_eye</mat-icon>
          </a>
          <button mat-button *ngIf="editable" (click) = "deleteDocument(currentTodo)">
              <mat-icon>delete</mat-icon>
              Supprimer
          </button>
        </mat-card-actions>
        <mat-card-content>
          <img class="pictimage" [src]="currentTodo.doc?.uri" alt="Pas de document associé" >
          <iframe [srcdoc]="currentTodo.doc?.uri" height="400" width="300" ></iframe>
        </mat-card-content>
      </mat-card>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="currentTodo.done" [disabled]="!editable">Terminé</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="currentTodo.public" [disabled]="!editable">Public</mat-checkbox>
      </section>
        <br />
      <mat-form-field *ngIf="currentTodo.mainTodo">
        <input  matInput placeholder="Main Todo"
                type="text" [(ngModel)]="currentTodo.mainTodo.description"
                [disabled]="!editable">
          <ng-template #noDefined>

          </ng-template>
      </mat-form-field>
        <br />
      <mat-form-field>
        <mat-select placeholder="Todo Type" [disabled]="!editable" [(ngModel)]="selectedTypeTodo" (selectionChange)="setType(currentTodo, $event.value)">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type.choiceDescription }}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <br />

      <button class="button btn primary" [disabled]="!editable" (click)="makeMain(currentTodoList, currentTodo)">
        Affecter la todo comme main todo
      </button>

      <mat-card>
        <mat-card-title>
          Users
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <ng-container *ngIf="users">
              <mat-list-item *ngFor="let user of users">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>{{user.fullName}}</h4>
                <p mat-line> {{user.email}} </p>
              </mat-list-item>
            </ng-container>
        </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Select the main todo
        </mat-card-title>
        <mat-card-content>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
              <mat-table  #todoList1 [dataSource]="todos1">
                <ng-container matColumnDef="done">
                  <mat-header-cell *matHeaderCellDef>Done</mat-header-cell>
                  <mat-cell *matCellDef="let one">
                    <mat-checkbox [checked]="one.done" [disabled]="true"></mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="public">
                  <mat-header-cell *matHeaderCellDef>Done</mat-header-cell>
                  <mat-cell *matCellDef="let one">
                    <mat-checkbox [checked]="one.publice" [disabled]="true"></mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                  <mat-cell *matCellDef="let one">{{one.description}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tools">
                  <mat-header-cell *matHeaderCellDef>Tools</mat-header-cell>
                  <mat-cell *matCellDef="let one">
                      <button mat-button (click)="makeMain(one, currentTodo)">
                        <mat-icon>done</mat-icon>
                      </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="todoCols1"></mat-header-row>
                <mat-row (click)="currentTodoList = row" [class.selected]="currentTodoList && row.ID === currentTodoList.ID"
                    *matRowDef="let row; columns: todoCols1;"></mat-row>
              </mat-table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card-actions>
        <button mat-button *ngIf="!editable" (click)="editable=!editable">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-button *ngIf="editable" (click)="save(currentTodo)">
            <mat-icon>save</mat-icon>
            Save
          </button>
          <button mat-button (click)="remove(currentTodo)">
            <mat-icon>delete</mat-icon>
            Remove
          </button>
          <button mat-button *ngIf="editable" (click) = "cancel()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
          <button mat-button routerLink="/todos">
            <mat-icon>list</mat-icon>
            Go to list
          </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-form-field>
          <input matInput placeholder="ID" type="text" disabled [value]="currentTodo?.ID">
        </mat-form-field>
      </mat-card-footer>
    </mat-card-content>


  </mat-card>
