<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <button mat-button routerLink="home" >
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-button [routerLink]="['/todos']" *ngIf="canSeeTodosMenu" >
        <mat-icon>list</mat-icon>
        Todos
      </button>
      <button mat-button [routerLink]="['/users']" *ngIf="canSeeUsersMenu">
        <mat-icon>supervisor_account</mat-icon>
        Users
      </button>
      <button mat-button [routerLink]="['/gantt']">
        <mat-icon>assignment</mat-icon>
        Gantt
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="mat-elevation-z2">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Secrurity Base Developement</span>
    <span class="app-toolbar-filler"></span>
    <!--  <span>{{ (sessionInfo | async)?.user.fullName }}</span> -->
    <button mat-icon-button *ngIf="currentUser" (click)="logout()" >
      <mat-icon>lock_open</mat-icon>
    </button>
    <span *ngIf="currentUser" (click)= "logout()">
      logged as {{currentUser.fullName}}
    </span>
    <button *ngIf="!currentUser" mat-icon-button routerLink="login" >
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="submenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #submenu="matMenu">
      <button mat-menu-item *ngIf="!currentUser" routerLink="login">
        <!-- <mat-icon style="margin-right: 10px; font-size: 1.5em;">file_upload</mat-icon> -->
        <span style="margin-right: 10px; font-size: 1.5em;">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>Login</span>
      </button>
      <button mat-menu-item *ngIf="currentUser" (click)="logout()">
        <span style="margin-right: 10px; font-size: 1.5em;">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        <span>Logout</span>
      </button>
      <button mat-menu-item *ngIf="currentUser" (click)="changepwd()">
        <mat-icon style="margin-right: 10px;">vpn_key</mat-icon>
        <!-- <mat-icon style="margin-right: 10px; color:blue;">vpn_key</mat-icon> -->
        <span>Changement de mot de passe</span>
      </button>
      <button mat-menu-item *ngIf="currentUser" (click)="yourprofil()">
          <span style="margin-right: 10px; font-size: 1.5em;">
              <i class="fas fa-id-card"></i>
            </span>
        <span>Votre profil</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
